<head>
    <title>BasedPin - Paste Tool</title>
        <link type="text/css" rel="stylesheet" href="design.css"/>
</head>

<body>

    <div class="header"
        <div class="container">
            <div id="menu">
                <ul class="nav">
                    <li><a href="change.html">Paste Now</a></li>
                    <li><a href="change.html">About</a></li>
                    <li><a href="change.html">Contact</a></li>
                    <li><a href="change.html">Support</a></li>

                </ul>
            </div>
        </div>
    </div>
 
    <div id="main">
            <div class="wrap">
 
                <div id="primary">
						<div id="info" role="main" align="center">
							<h1>Quick & Easy Paste Tool!</h1>
							<hr>
							<p>Paste your text below, provide a simple alias and submit!<br>
							Share anywhere with the easy to remember share link provided!
							</p>
							<br>
						</div>							
						<div id="content" role="main" align="center">
							<form action="" method="post">
							  Alias (Name) :<br>
							  <input type="text" name="alias"><br><br>
							  
							  Paste:<br>
							  <textarea rows="12" cols="50" id="paste" name="paste"></textarea><br><br>
							  
							  <input type="checkbox" name="unlisted" value="1"> Unlisted (Make this private)?<br><br>
							  <input type="submit" value="Submit">
							</form>
						</div>
                    </div>
                </div>
 
            </div>
        </div>
 
        <!--Start of footer-->
        <div class="clearfix"></div>
        </div>

        <div  class="footer">
            <div class="container">
                <p>Copyright © 2017. All rights reserved.</p>
            </div>
        </div>
 
    </div>
</body>