<head>
    <title>BasedPin - Paste Tool</title>
        <link type="text/css" rel="stylesheet" href="design.css"/>
</head>

<body>

    <div class="header"
        <div class="container">
            <div id="menu">
                <ul class="nav">
                    <li><a href="FORZAN.html">Paste Now</a></li>
                    <li><a href="FORZAN.html">About</a></li>
                    <li><a href="FORZAN.html">Contact</a></li>
                    <li><a href="FORZAN.html">Support</a></li>

                </ul>
            </div>
        </div>
    </div>
    <div class="Form">
        <div id="info" role="main" align="center">
            <br><br><h1>Quick & Easy Paste Tool!</h1>
            <br><br><hr><p>Paste your text below, provide a simple alias and submit!<br>
                   Share anywhere with the easy to remember share link provided!</p><br>
    		
            </div>							
    		    <div id="content" role="main" align="center">
    			    <form action="" method="post">
    				    Alias (Name) :<br>
    					    <input type="text" name="alias"><br><br>
    				    Paste:<br>
                            <textarea rows="12" cols="50" id="paste" name="paste"></textarea><br><br>
                            
                            <input type="checkbox" name="unlisted" value="1"> Unlisted (Make this private)?<br><br>
                            <input type="submit" value="Submit">
    				</form>
                </div>
            </div>
        </div>
        
        <!--Start Introduction-->
        <div class="supporting">
            <div class="container">
                <div class="col">
                    <img src="http://www.freeiconspng.com/uploads/easy-icon-13.png">
                    <h2>Easy</h2>
                    <p>Simple design, simple to use, get pasting!</p>
                    <a class="btn-default" href="#">Paste Now!</a>
                </div>
                <div class="col">
                    <img src="http://plainicon.com/dboard/userprod/2805_fce53/prod_thumb/plainicon.com-49809-512px-89d.png">
                    <h2>Unlimited</h2>
                    <p>Use this as many times as you want.</p>
                    <a class="btn-default" href="#">Go Top</a>
                </div>
                <div class="col">
                    <img src="https://cdn3.iconfinder.com/data/icons/simple-toolbar/512/free_for_job_base_icons_bsd_sign_open_one-512.png">
                    <h2>Free</h2>
                    <p>At no extra cost use this amazing feature. Feel free to donate.</p>
                    <a class="btn-default" href="#">Donate</a>
                </div>
        </div>
        <!--End introduction-->
 
        <!--Start of footer-->
        <div class="clearfix"></div>
        </div>

        <div  class="footer">
            <div class="container">
                <p>Copyright © 2017. All rights reserved.</p>
            </div>
        </div>
 
    </div>
</body>